.footer-bg {
  background-color: #b5253e;
  background-size: cover;
}
.footer {
  display: inline-block;
  width: 69vw;
  margin: 50px 15.5vw 50px;
}
#footer-icon {
  width: 20%;
  margin-right: 1vw;
}
.footer div {
  display: inline-block;
  position: relative;
}
.footer-title {
  width: 50vw;
  float: right;
  position: absolute;
}
.footer-title .mid-ch-title {
  margin: 0.35vw 0;
}

#footer-title-buttom {
  display: inline-block;
  width: 100%;
}
#footer-title-buttom div,
#footer-title-buttom p {
  display: inline-block;
}
.footer-icons {
  display: block;
  float: right;
  margin-top: 11.5px;
}
.footer-icons img {
  margin: 0 10px;
}
.footer .text {
  margin: 0;
}
.footer hr {
  border: 0.5px solid #ffffff;
  opacity: 100;
}
.footer-text {
  margin-top: 50px;
  width: 100%;
}
.text-right {
  float: right;
  text-align: end;
}
