/*Alice-font-setting*/
@font-face {
  font-family: "Alice";
  src: url(../font/Alice.eot) format("embedded-opentype"),
    url(../font/Alice.ttf) format("truetype"),
    url(../font/Alice.woff) format("woff");
}
/**/
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
}

body {
  background: linear-gradient(
    90deg,
    #fffcfb 0%,
    #fad9cb 7%,
    #f6baa0 15%,
    #f39f7a 23%,
    #f0885a 31%,
    #ed7541 40%,
    #eb672d 50%,
    #ea5d1f 62%,
    #e95716 76%,
    #e95514 100%
  );
}
.screen {
  height: 100vh;
  overflow-y: hidden !important;
}

.open-animate {
  display: block;
  height: 100vh;
  width: 100vw;
  background-image: url(../img/firstpage.png);
  background-size: cover;
}
.open-animate h1 {
  color: #ea5514;
}

.banner-title {
  display: block;
  height: 100vh;
  width: 100vw;
}

.open-animate {
  height: 100vh;
  display: flex;
  flex-direction: column;

  text-align: center;
  justify-content: center;
}

.banner-title-first {
  height: 100vh;
  display: block;
}
.banner-title-first h1 {
  padding-top: calc(50vh - 70px);
  text-align: center;
}
.banner-title-first p {
  text-align: center;
  padding-top: 20px;
}

/*開場文字js動畫*/
.h1-disappear {
  opacity: 0;
  transition-duration: 500ms;
}
.h1-back {
  opacity: 1;
  transition-duration: 500ms;
}

.top-columns {
  display: none !important;
}
.columns {
  display: flex;
  width: 100vw;
}
.icon-column {
  display: block;
  width: 20vw;
  background-color: #fffcfb;
}
.icon-column > div {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 15%;
}
.icon-column img {
  width: 30%;
}

/*第一偵滿版左方nav列*/
.banner-title-leftnav {
  position: absolute;
  display: flex;
  width: 100vh;
  rotate: 90deg;
  transform-origin: 0%;
  padding-bottom: 100px;
}
.leftnav-button {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.leftnav-button h4 {
  display: inline-block;
}
