body {
  width: 100vw;
  height: 100vh;
  background-color: #2a2a2a;
}
.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
canvas {
  display: flex;
  height: 90vh !important;
}
