.navbar {
  width: 100%;
  position: relative !important;
  display: inline-flex !important;
}
.container-fluid {
  margin: 10px 0 10px 20px !important;
}
.right-icon {
  margin-right: 30px;
}
.navbar-nav {
  margin: auto;
}
.nav-link {
  padding: 0 !important;
}
.nav-item a {
  display: flex;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.nav-item a:hover {
  color: #b5253e;
}
.nav-item {
  margin: 0 2.5vw;
}
.navbar-toggler {
  border: none;
}
.navbar-toggler-icon {
  background-image: url(../img/hamberger.png);
}
.right-icon-mobile {
  display: none;
}
a {
  text-decoration: none;
}
@media (max-width: 991px) {
  .right-icon {
    display: none;
  }
  .right-icon-mobile {
    display: inherit;
  }
}
