/*標題*/
h1 {
  font-weight: 400;
  font-size: 140px;
  line-height: 122px;
  letter-spacing: 0.05em;

  color: #ffffff;
}
h4 {
  font-weight: 500;
  font-size: 30px;
  line-height: 122px;
  letter-spacing: 0.05em;

  color: black;
}

/*內文*/
.l-text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;

  letter-spacing: 0.05em;

  color: #ffffff;
}
.m-text {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.05em;

  color: #ffffff;
}
.s-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 65px;
  color: #ffffff;
}

/*字體*/
.alice {
  font-family: "Alice";
}
.noto-serif-tc {
  font-family: "Noto Serif TC";
}
