.footer-bg {
  background-color: #b5253e;
  background-size: cover;
}
.mob-footer-top {
  display: none;
}
@media (max-width: 991px) {
  .footer-bg {
    background-color: #191e20;
  }
  .mob-footer-top {
    display: block;
  }
}

.footer {
  display: inline-block;
  width: 69vw;
  margin: 50px 15.5vw 50px;
}
#footer-icon {
  width: 20%;
  margin-right: 1vw;
}
.footer div {
  display: inline-block;
  position: relative;
}
.footer-title {
  width: 50vw;
  float: right;
  position: absolute;
}
.footer-title .mid-ch-title {
  margin: 0.35vw 0;
}

#footer-title-buttom {
  display: inline-block;
  width: 100%;
}
#footer-title-buttom div,
#footer-title-buttom p {
  display: inline-block;
}
.footer-icons {
  display: block;
  float: right;
  margin-top: 11.5px;
}
.footer-icons img {
  margin: 0 10px;
}
.footer .text {
  margin: 0;
}
.footer hr {
  border: 0.5px solid #ffffff;
  opacity: 100;
}
.footer-text {
  margin-top: 50px;
  width: 100%;
}
.text-right {
  float: right;
  text-align: end;
}
/*RWD*/
@media (max-width: 1151px) {
  .footer {
    margin: 50px 10vw;
    width: 80vw;
  }
  .footer-title {
    width: 61.5vw;
  }
}
@media (max-width: 991px) {
  .footer {
    margin: 50px 7.5vw;
    width: 85vw;
  }
  .mid-ch-title {
    font-size: 16px;
    line-height: 26px;
  }
  .footer-text .text {
    font-size: 13px;
  }
  .footer-icons {
    text-align: end;
  }
  .footer-title {
    width: 68.5vw;
  }
  #footer-icon {
    width: 12.5vw;
  }
  .footer-icons img {
    margin: 0 7px;
  }
}
@media (max-width: 681px) {
  .footer {
    margin: 50px 5vw;
    width: 90vw;
  }
  .footer-title {
    width: 73.5vw;
  }
  .footer-text .text {
    font-size: 12px;
  }
  .footer-text .text {
    font-size: 8px;
  }
}
@media (max-width: 576px) {
  .footer-text .text {
    font-size: 8px;
  }
  .mid-ch-title {
    font-size: 14px;
    line-height: 20px;
  }
  .footer-icons {
    display: none !important;
  }
}
