.middle-icon {
  display: block;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
}
.middle-img {
  position: relative;
  display: inline-block;
}

.share {
  display: inline-block;
}

.button2 {
  width: 240px;
  display: block;
  top: 60px;
  padding: 10px;
  font-family: "Noto Serif TC";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15em;
  color: #191e20;
  border: 1px solid #191e20;
  border-radius: 10px;
}
.b1 {
  display: none;
}
.b2 {
  display: none;
}

/*以下是1216ver*/

/*nav-setting*/
@media (min-width: 1600px) {
  .nav-item a {
    font-size: 20px;
  }
}

.navbar {
  width: 100%;
  position: relative !important;
  display: inline-flex !important;
}
.container-fluid {
  margin: 10px 0 10px 20px !important;
}
.right-icon {
  margin-right: 30px;
}
.navbar-nav {
  margin: auto;
}
.nav-link {
  padding: 0 !important;
}
.nav-item a {
  display: flex;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.nav-item a:hover {
  color: #b5253e;
}
.nav-item {
  margin: 0 2.5vw;
}
.navbar-toggler {
  border: none;
}
.navbar-toggler-icon {
  background-image: url(../img/hamberger.png);
}
.right-icon-mobile {
  display: none;
}
a {
  text-decoration: none;
}
@media (max-width: 991px) {
  .right-icon {
    display: none;
  }
  .right-icon-mobile {
    display: inherit;
  }
}

/*主要內容區域:外距&寬度*/
.main-contents {
  margin: 0 19.5vw;
  display: inline-block;
  width: 61vw;
}
/*左中右三區塊對齊＆並排＆寬度設定+統一對上margin*/
.left-date {
  width: 15%;
  display: inline-block;
  vertical-align: top;
}
.middle-content {
  width: 70%;
  display: inline-block;
}
.right-share {
  width: 7.5%;
  display: inline-block;
  vertical-align: top;
  margin-left: 5%;
}
.left-date,
.middle-content,
.right-share {
  margin-top: 20px;
}

/*字體設定*/
h1 {
  /*左邊大紅日期*/
  font-family: "Noto Serif TC";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 70px;
  color: #b5253e;

  margin-top: 40px;
}
h2 {
  /*頁面標題*/
  font-family: "Noto Serif TC";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.1em;

  color: #191e20;
  margin-bottom: 20px;
}
h3 {
  /*標題上方日期*/
  font-family: "Noto Serif TC";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.1em;

  color: #d9d9d9;

  margin-bottom: 25px;
}
.inform-text {
  /*內文*/
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.15em;

  color: #191e20;
}
.right-share p {
  font-size: 14px;
  margin-top: 40px;
}

/*圖片下方分隔線*/
.main-contents hr {
  border: #9d9d9d 1px solid;
  margin: 50px 9.5vw 0;
}

/*share-icon*/
.yt-link {
  display: block;
  /*
  使用block而不是inline-block是因為我要撐出長寬但不想並排
  inline會灌滿整行，block是可調整長寬的方形～
  */
  width: 45px;
  height: 30px;
  /*
  因為是用背景圖做出icon，所以我要撐出長寬才會有所謂的「背景」，不然圖片跑不出來！
  */
  background-image: url(../img/yt.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  margin-top: 20px;
}

.fb-link {
  display: block;
  width: 45px;
  height: 35px;
  background-image: url(../img/fb.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ig-link {
  display: block;
  width: 45px;
  height: 40px;
  background-image: url(../img/ig.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.mob-yt-link {
  display: block;
  width: 45px;
  height: 30px;
  background-image: url(../img/mob-yt.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  margin-top: 20px;
}

.mob-fb-link {
  display: block;
  width: 45px;
  height: 35px;
  background-image: url(../img/mob-fb.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.mob-ig-link {
  display: block;
  width: 45px;
  height: 40px;
  background-image: url(../img/mob-ig.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.ig-link,
.fb-link,
.yt-link {
  margin-bottom: 40px;
}

.yt-link:hover {
  background-image: url(../img/yt-hover.png);
  transition-duration: 800ms;
}

.fb-link:hover {
  background-image: url(../img/fb-hover.png);
  transition-duration: 800ms;
}

.ig-link:hover {
  background-image: url(../img/ig-hover.png);
  transition-duration: 800ms;
}

.mob-yt-link:hover {
  background-image: url(../img/youtube.png);
  transition-duration: 800ms;
}

.mob-fb-link:hover {
  background-image: url(../img/facebook.png);
  transition-duration: 800ms;
}

.mob-ig-link:hover {
  background-image: url(../img/ig2.png);
  transition-duration: 800ms;
}
/*button*/
.buttons {
  margin-top: 200px;
}
.news-button > div p {
  font-family: "Noto Serif TC";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.1em;
  margin: 0;

  color: #191e20;
}
.news-button > div {
  display: inline-block;
  width: 40%;
  padding: 2.5px 10px;
  border-radius: 10px;

  border: 1px #191e20 solid;
}
.news-button > div > img {
  width: 6.5%;
  display: inline-block;
  margin: 10px 20px 0 10px;
  vertical-align: top;
  position: relative;
}

.button-text {
  display: inline-block;
  width: 70%;
  margin: 0;
}

.news-button div:hover {
  background-color: #191e20;
  transition-duration: 1000ms;
}
.news-button div:hover p {
  color: #ffffff;
  transition-duration: 1000ms;
}
#right-button div {
  float: right;
}
#right-button img {
  margin: 10px 10px 0 20px;
}
#right-button .button-text {
  margin-left: 0;
}
body {
  background-color: #ffffff;
}
.mob-top-date {
  display: none;
}
.mob-middle-icon {
  display: none;
}
.mob-right-share {
  display: none;
}
.mob-buttons {
  display: none;
}
@media (max-width: 991px) {
  body {
    background-color: #b5253e;
  }
  .middle-content h2,
  .middle-content p {
    color: #ffffff;
  }
  .top-date {
    display: none;
  }

  .middle-icon {
    display: none;
  }

  .left-date h1 {
    display: none;
  }
  .hr1 {
    display: none;
  }
  .mob-top-date {
    font-family: "Noto Serif TC";
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: -30px;

    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    /* or 112% */

    letter-spacing: 0.1em;

    color: #d9d9d9;
  }
  .mob-middle-icon {
    display: block;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
  }
  .right-share {
    display: none;
  }
  .main-contents hr {
    margin: 50px 0 0;
  }
  /*mobile*/
  .mob-right-share-bg {
    background-color: #191e20;
  }
  .mob-right-share {
    display: block;

    margin: 50px 19.5vw;
    padding: 30px 0;
    height: 200px;
  }
  .mob-right-share-icon {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .mob-right-share > .inform-text {
    text-align: center;
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.15em;
    color: #ffffff;
  }
  .mob-yt-link {
    width: 100px;
    height: 55px;
  }
  .mob-ig-link {
    width: 100px;
    height: 60px;
  }
  .mob-fb-link {
    width: 100px;
    height: 60px;
  }

  .mob-buttons {
    display: block;
    margin: 50px 15.5vw;
  }
  .mob-buttons-more {
    display: flex;
    justify-content: center;
    margin-bottom: 65px;
    width: 100%;
  }
  .mob-buttons-more img {
    width: 150px;
  }
  .mob-button1 {
    width: 100%;
    display: inline-block;
  }
  .mob-button1 img {
    display: inline-block;
    width: 35%;
    margin-right: 4%;
  }
  .mob-button1 div {
    display: inline-block;
    width: 59%;
    vertical-align: bottom;
  }
  #i-need-margin {
    margin-bottom: 30px;
  }
  .mob-button1 div p {
    color: #ffffff;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.1em;
  }

  .buttons {
    display: none;
  }
  .inform-text {
    display: block;
  }
  .mob-yt-link.mob-fb-link.mob-ig-link {
    display: inline-flex;
  }
  .b1words a {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.1em;

    color: #ffffff;
  }
  .b1words h3 {
    font-family: "Noto Serif TC";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 19px;
    letter-spacing: 0.1em;

    color: #d9d9d9;
  }
}
@media (max-width: 576px) {
  .mob-buttons-more img {
    width: 120px;
  }
  .mob-yt-link {
    width: 45px;
    height: 45px;
  }
  .mob-ig-link {
    width: 40px !important;
    height: 40px;
  }
  .mob-fb-link {
    width: 50px;
    height: 40px;
  }
}
