/*nav-setting*/
.navbar {
  width: 100%;
  position: relative !important;
  display: inline-flex !important;
}

.container-fluid {
  margin: 10px 0 10px 20px !important;
}

.right-icon {
  margin-right: 30px;
}

.navbar-nav {
  margin: auto;
}

.nav-link {
  padding: 0 !important;
}

.nav-item a {
  display: flex;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.nav-item a:hover {
  color: #b5253e;
}

.nav-item {
  margin: 0 2.5vw;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: url(../img/hamberger.png);
}

.right-icon-mobile {
  display: none;
}

a {
  text-decoration: none;
}

hr {
  color: #ffffff solid 1px;
}

@media (max-width: 991px) {
  .right-icon {
    display: none;
  }

  .right-icon-mobile {
    display: inherit;
  }
}

body {
  background-color: #191e20;
}

.background-dark-img {
  background-color: #191e20;
}

.store-inquiry-title h1 {
  font-family: "Noto Serif TC";
  font-weight: bold;
  font-size: 70px;
  letter-spacing: 18px;
  color: #ffffff;
  line-height: 90px;
}

@media (min-width: 1600px) {
  .store-inquiry-title h1 {
    font-size: 70px;
  }
}

.nav2 {
  background-color: #b5253e;
  justify-content: center;
  padding: 28px;
  text-align: center;
}

.nav2 a {
  font-family: "Noto Serif TC";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 60px;
  letter-spacing: 0.1em;
  text-align: center;
}

.nav2 li,
.nav2-title {
  width: 15%;
  display: inline-block;
}

li a,
.dropbtn {
  color: white;
  text-align: center;
  padding: 37px 18%;
  text-decoration: none;
}

/*
.dropdown:hover .dropbtn {
  background-color: #911e32;
}
*/
li.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  position: absolute;
  top: 75px;
  background-color: #b5253e;
  min-width: 166.5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: none;
  left: calc(50% - 83.25px);
}

@media (max-width: 1429px) {
  .nav2 {
    background-color: #b5253e;
    justify-content: center;
    padding: 28px;
    text-align: center;
  }

  .nav2 a {
    font-family: "Noto Serif TC";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 60px;
    letter-spacing: 0.1em;
    text-align: center;
  }
}

@media (max-width: 1155px) {
  .nav2 {
    background-color: #b5253e;
    justify-content: center;
    padding: 20px;
    text-align: center;
  }

  .nav2 a {
    font-family: "Noto Serif TC";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 60px;
    letter-spacing: 0.1em;
    text-align: center;
  }
}

@media (max-width: 991px) {
  .nav2 {
    background-color: #b5253e;
    text-align: center;
    width: 100%;
  }

  .nav2 a {
    font-family: "Noto Serif TC";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 60px;
    letter-spacing: 0.1em;
    text-align: center;
  }

  .dropdown-content {
    position: absolute;
    top: 95px;
    background-color: #b5253e;
    min-width: 166.5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none;
    left: calc(50% - 83.25px);
  }

  .nav2-title a {
    text-align: center;
    vertical-align: middle;
  }

  .nav2 > li,
  .nav2-title {
    display: inline-block;
  }

  .dropbtn {
    color: white;
    text-align: center;
    padding: 20px 18%;
    text-decoration: none;
  }

  .dropbtn {
    display: inline-block;
  }

  .nav2 > .nav2-title {
    width: 100%;
  }

  .nav2-title:hover {
    color: #ffffff;
  }

  .nav2:hover .dropdown {
    display: inline-block;
    width: 14%;
  }

  .nav2 > .dropdown {
    display: none;
  }
}

.big-div {
  margin: 100px 15.5vw;
  color: #ffffff;
  display: inline-block;
  width: 69vw;
}

select {
  margin: 15px 0px;
}

.left-box-div {
  display: inline-block;
  width: 20%;
  vertical-align: top;
}

.right-box-div {
  display: inline-block;
  width: 79%;
}

h1 {
  font-family: "Noto Serif TC";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 100px;
  letter-spacing: 17px;
}

h2 {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 360;
  font-size: 22px;
  line-height: 43px;
  letter-spacing: 2px;
}

.form-select {
  transition-duration: 600ms !important;
  color: #ffffff;
  opacity: 70%;
  background-color: #191e20;
  border: #ffffff 60% 1px solid;
  padding: 1vw 20px;
  font-size: 24px;
  letter-spacing: 3px;
}

h3 {
  font-family: "Noto Serif TC";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 60px;
  /* identical to box height, or 200% */

  letter-spacing: 0.35em;
  margin-bottom: 0px;
}

input {
  display: inline-block;
}

p {
  display: inline-block;
  margin: 10px;
}

.checkbox-div {
  display: inline-block;
}

.dropdown-content a {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  transition-duration: 500ms;
  background-color: #911e32;
  color: #ffffff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.store-inquiry {
  margin: 123px 15.5vw 123px;
  background-color: #191e20;
}

.mid-eng-title {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 200;
  font-size: 21px;
  line-height: 40px;
  letter-spacing: 2px;
}

.store-inquiry p,
.store-inquiry label {
  color: #ffffff;
}

.store-inquiry {
  display: inline-block;
  width: 69%;
}

.store-inquiry div {
  display: inline-block;
}

.store-inquiry-title {
  margin-right: 4vw;
  text-align: top;
}

button {
  border: 0;
  background-color: #b5253e;
  color: #ffffff;
  padding: 10px 60px;
  border-radius: 4px;
  letter-spacing: 3px;
  float: right;
}

.btn-group button {
  width: 46vw;
  border-color: #cccccc;
  background-color: #191e20;
  margin-top: 20px;
  height: 3.5vw;
}

.group-paragraph-2 {
  margin: 20px 0;
}

#btn-secondary button {
  width: 30vw;
  border-color: #cccccc;
  background-color: #191e20;
  margin-top: 20px;
  height: 3.5vw;
}

#btn-secondary {
  background-color: #911e32;
  float: right;
}

/*李冠廷＋的*/
.form-select:hover {
  background-color: rgba(217, 217, 217, 0.5);
}

button:hover {
  transition-duration: 600ms;
}

a:hover {
  color: #bababa;
}

@media (min-width: 1600px) {
  .nav-item a {
    font-size: 20px;
  }

  h1 {
    font-family: "Noto Serif TC";
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 100px;
    letter-spacing: 14px;
  }

  h2 {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 360;
    font-size: 18px;
    line-height: 43px;
    letter-spacing: 2px;
  }
}

@media (max-width: 991px) {
  .nav2-title {
    width: 100% !important;
    border: #911e32 !important;
  }

  .nav2 li,
  .nav2-title {
    font-size: 10px;
  }

  hr {
    color: #ffffff solid 1px;
  }

  .left-box-div {
    display: inline-block;

    width: 100%;
    text-align: center;
  }

  .big-div {
    margin: 60px 5%;
    width: 90%;
  }

  .left-box-div h1 {
    font-size: 50px;
    letter-spacing: 10px;
    line-height: 70px;
    display: inline-block;
  }

  .left-box-div h2 {
    font-size: 25px;
    line-height: 25px;
  }

  .right-box-div {
    display: block;
    width: 100%;
  }

  .form-select {
    display: block;
    font-size: 18px;
  }

  .right-box-div h3 {
    font-size: 22px;
    text-align: center;
  }

  .checkbox-div {
    display: inline-block;
  }

  .checkbox-div p {
    display: inline-block;
  }

  button {
    border: #b5253e;
  }

  .right-box-div hr {
    display: block;
    border: #ffffff solid 1px;
  }

  .p-beside-checkbox {
    display: inline-block;
    width: 49%;
    position: relative;
  }

  .p-beside-checkbox button {
    position: absolute;
    left: -70px;
    top: 60px;
  }

  .dropbtn {
    font-size: 16px;
  }

  li.dropdown {
    background-color: #b5253e;
  }
}

@media (max-width: 576px) {
  .nav2 .dropdown a {
    font-size: 12px;
  }
}
