/*nav-setting*/
.navbar {
  width: 100%;
  position: relative !important;
  display: inline-flex !important;
}

.container-fluid {
  margin: 10px 0 10px 20px !important;
}

.right-icon {
  margin-right: 30px;
}

.navbar-nav {
  margin: auto;
}

.nav-link {
  padding: 0 !important;
}

.nav-item a {
  display: flex;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.nav-item a:hover {
  color: #b5253e;
}

.nav-item {
  margin: 0 2.5vw;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: url(../img/hamberger.png);
}

.right-icon-mobile {
  display: none;
}

a {
  text-decoration: none;
}

.eightyfive-table {
  width: 80vw;
}

#city-th {
  font-size: 125px;
  padding: 40px;
}

body {
  background-color: #191e20;
}

h1,
h2,
p {
  color: #fff;
}

.container {
  margin: 100px 13vw;
  padding: 0;
  width: 69vw;
  border-radius: 20px;
  display: inline-block;
}

h1 {
  font-family: "Noto Serif TC";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0.35em;
}

th {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  padding: 2.5vw;

  vertical-align: middle;
}

td {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 3px;
  padding: 35px;
}

#manage-time-none {
  display: none;
}

#opening-time {
  display: none;
}

.eightyfive-table {
  color: #fff;
  border: #fff;
  display: inline-block;
  font-family: "Noto Serif TC";
  margin: 150px 10vw;
  /*李冠廷改了這裡:D*/
  border-radius: 20px;
}

tbody {
  width: 100%;
}

.eightyfive-table th {
  border-bottom: #fff 1px solid;
}

.inside-box-title {
  margin-top: 28px;
  margin: 2vw;
}

/*table*/
.eightyfive-table,
#city-th {
  border: #fff 1px solid;
  border-radius: 20px;
}

#city-th {
  border-bottom: none;
  border-left: none;
  border-top: none;
  font-size: 40px;
  vertical-align: top;
}

.table {
  color: #fff;
  display: inline-block;
  border: #fff;
  font-family: "Noto Serif TC";
  font-weight: bold;
  letter-spacing: 3px;
  width: 80%;
  border-left: 1px solid;
  margin-bottom: 0px;
}

.table > :not(caption) > * > * {
  line-height: 40px;
  border-bottom-width: 0;
  padding: 20px;
}

.table-title {
  color: #fff;
  margin: 15.5vw;
  border: #fff;
  font-family: "Noto Serif TC";
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 30px;
  border-bottom: 1px solid;
}

.box-h1-01 {
  display: inline-block;
  width: 9%;
  vertical-align: top;
}
.th-1,
.th-3,
.th-4 {
  width: 20%;
}
.th-2 {
  width: 39%;
}

@media (min-width: 1600px) {
  .nav-item a {
    font-size: 20px;
  }

  td {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    padding: 23px;
    padding-left: 45px;
  }

  th {
    color: #fff;
    font-size: 28px;
    font-weight: bold;

    padding-right: 2.5vw;
    vertical-align: middle;
  }
}

@media (max-width: 991px) {
  .right-icon {
    display: none;
  }

  .right-icon-mobile {
    display: inherit;
  }

  #city-th {
    font-size: 20px;
    padding: 15px;
  }

  th {
    font-size: 13px;
    padding: 20px;
  }

  td {
    font-size: 10px;
    padding: 18px;
  }

  .eightyfive-table,
  #city-th {
    border-radius: 8px;
  }

  #location {
    width: 6px;
  }

  .eightyfive-table {
    margin: 50px 10vw;
    width: 80vw;
  }
}

@media (max-width: 576px) {
  #phone-number {
    font-size: 10px;
  }

  td {
    padding: 12px;
    font-weight: 400;
  }

  #manage-time {
    display: none;
    font-size: 10px;
    padding: 2px;
  }

  #manage-time-none {
    display: inline;
    font-size: 9px;
    padding: 3px;
  }
}

@media (max-width: 425px) {
  #phone-number {
    font-size: 8px;
  }

  td {
    padding: 7.5px;
  }

  #manage-time {
    display: none;
    font-size: 8px;
    padding: 2px;
  }

  #manage-time-none {
    display: inline;
    font-size: 8px;
    padding: 3px;
  }

  th {
    font-size: 12px;
  }
}
