@media (min-width: 1600px) {
  .nav-item a {
    font-size: 20px;
  }
}

.footer hr {
  border: #ffffff solid 1px;
}
.navbar {
  width: 100%;
  position: relative !important;
  display: inline-flex !important;
}
.container-fluid {
  margin: 10px 0 10px 20px !important;
}
.right-icon {
  margin-right: 30px;
}
.navbar-nav {
  margin: auto;
}
.nav-link {
  padding: 0 !important;
}
.nav-item a {
  display: flex;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.nav-item a:hover {
  color: #b5253e;
}
.nav-item {
  margin: 0 2.5vw;
}
.navbar-toggler {
  border: none;
}
.navbar-toggler-icon {
  background-image: url(../img/hamberger.png);
}
.right-icon-mobile {
  display: none;
}
a {
  text-decoration: none;
}
@media (max-width: 991px) {
  .right-icon {
    display: none;
  }
  .right-icon-mobile {
    display: inherit;
  }
}
.header {
  position: fixed;
  width: 100vw;
  z-index: 999;
}
.body {
  margin: 0;
  background-color: #191e20;
}
.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 44%;
}
.leftpic {
  position: relative;
}
.mo-leftpic {
  display: none;
}
.red-button-wrapper {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #b5253e;

  font-family: "Noto Serif TC";
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 2px;
}
.red-button-wrapper > ul > li {
  display: inline-block;
  width: 32%;
  text-align: center;
  position: relative;
  cursor: pointer;
  color: #ffffff;
}
.submenu > li {
  margin: 23px 20px;
}
.red-button-wrapper ul li {
  padding: 20px;
  transition-duration: 1000ms;
}
.red-button-wrapper ul li:hover {
  background-color: #911e32;
}
.submenu {
  position: absolute;
  bottom: 50px;
  width: 100%;
  background-color: #b5253e;
  display: none;
}
.red-button-wrapper > ul > li:hover .submenu {
  display: block;
}
.red-button-wrapper li a {
  color: #ffffff;
  text-decoration: none;
}
.mob-red-button-wrapper {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #b5253e;

  font-family: "Noto Serif TC";
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 2px;
  display: inline-block;
  text-align: center;
  position: relative;
  cursor: pointer;
  color: #ffffff;
  top: -3px;
}
.mob-red-button-wrapper > ul > li {
  display: inline-block;
  width: 32%;
  text-align: center;
  position: relative;
  cursor: pointer;
  color: #ffffff;
}
.mob-red-button-wrapper-dark {
  display: inline-block;
  width: 32%;
  text-align: center;
  position: relative;
  cursor: pointer;
  color: #191e20;
}
.mo-wrapper {
  display: none;
  position: relative;
  font-family: "Noto Serif TC";
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: 5px;
  background-color: #191e20;
  width: 100%;
  text-align: center;
}
.mo-wrapper > ul > li {
  padding: 15px 0px;
  position: relative;
}

.mo-submenu {
  position: absolute;
  font-family: "Noto Serif TC";
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 5px;
  background-color: #191e20;
  width: 100%;
  text-align: center;
  padding: 15px 0px;
}
.mo-wrapper a {
  color: #ffffff;
}

.p-name {
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  font-family: "Noto Serif TC";
  letter-spacing: 2px;
  font-weight: 700;
  margin-top: 100px;
}
.p-money {
  color: #fff3d4;
  text-align: center;
  font-family: "Noto Serif TC";
  font-size: 35px;
  margin-top: 30px;
  font-weight: 600;
}

#carouselExampleIndicators {
  margin-top: 100px;
}
/*mo*/
.leftpic img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}
.vectorup {
  margin-left: 44%;
  margin-top: 107px;
}

.repro-bl {
  position: relative;
}
.repro-bl > img {
  width: 100%;
}
.repro-bl .red-title {
  position: absolute;
  width: 150px;
  left: calc(50% - 75px);
  top: 30px;
}
.repro-bl .red-title img {
  width: 100%;
}
.content {
  margin-left: 44%;
  margin-top: 100px;
  background-color: #191e20;
}
img.d-block {
  margin: auto;
}
.carousel-indicators {
  bottom: -20px;
  margin-bottom: 50px;
}
.p-name {
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  font-family: "Noto Serif TC";
  letter-spacing: 2px;
  font-weight: 700;
  margin-top: 100px;
}
.p-money {
  color: #fff3d4;
  text-align: center;
  font-family: "Noto Serif TC";
  font-size: 35px;
  margin-top: 30px;
  font-weight: 600;
}
.red-title img {
  width: 100%;
}

#carouselExampleIndicators {
  margin-top: 100px;
}

.intro {
  border-top: solid #ffffff 2px;
  margin: 100px 5.5vw;
}

.intro h1 {
  margin-top: 70px;
  color: #ffffff;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 2px;
  font-family: "Noto Serif TC";
}

.intro p {
  font-family: "Noto Sans TC";
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 2px;
  color: #ffffff;
  margin-top: 30px;
}

.all {
  margin-top: 160px;
  text-align: center;
  margin: 0 1%;
}

.bread-small-tit {
  font-family: "Noto Serif TC";
  font: 30px;
  letter-spacing: 2px;
  font-weight: 7s00;
  text-align: center;
  color: #ffffff;
  margin-top: 5px;
}

.solid {
  border-top: solid #888888 1px;
  width: 100%;
  margin-top: 50px;
}

/*row要加這裡*/
.sq1,
.sq2,
.sq3,
.sq4,
.sq5,
.sq6,
.sq7,
.sq8,
.sq9,
.sq10,
.sq11,
.sq12 {
  display: inline-block;
}

.row1,
.row2,
.row3,
.row4,
.row5,
.row6 {
  margin-top: 130px;
  vertical-align: top;
  display: flex;
  margin-left: 8.5vw;
  justify-content: center;
}

.row1 h1,
.row2 h1,
.row3 h1,
.row4 h1,
.row5 h1,
.row6 h1 {
  font-size: 30px;
  line-height: 20px;
  font-family: "Noto Serif TC";
  letter-spacing: 2px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 30px;
  text-align: left;
}

.sq1 p,
.sq2 p,
.sq3 p,
.sq4 p,
.sq5 p,
.sq6 p,
.sq7 p,
.sq8 p,
.sq9 p,
.sq10 p,
.sq11 p,
.sq12 p {
  width: 256px;
  color: #ffffff;
  text-align: left;
  font-family: "Noto Sans TC";
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  letter-spacing: 2px;
}

/*加到這裡為止*/

.all-pic {
  text-align: left;
}

/*footer*/
#footer-circle {
  transform: translateY(3px);
}
.footer-bg {
  background-color: #b5253e;
  background-size: cover;
}
.footer {
  display: inline-block;
  width: 50vw;
  margin: 3vw 3vw 0;
}
#footer-icon {
  width: 20%;
  margin-right: 1vw;
  margin-bottom: 0.5vw;
}
.footer div {
  display: inline-block;
  position: relative;
}
.footer-title {
  width: 50vw;
  float: right;
  position: absolute;
  font-family: "Noto Sans TC";
  line-height: 32px;
  letter-spacing: 2px;
  color: #ffffff;
  font-size: 24px;
}
.footer-title hr {
  border: 1px;
  color: #ffffff;
  background-color: #ffffff;
}

.footer-title .mid-ch-title {
  margin: 0.35vw 0;
}

#footer-title-buttom {
  display: inline-block;
  width: 100%;
}
#footer-title-buttom div,
#footer-title-buttom p {
  display: inline-block;
}
.footer-icons {
  display: block;
  float: right;
  margin-top: 11.5px;
}
.footer-icons img {
  margin: 0 10px;
}
.footer-text {
  display: inline-block;
  width: 100%;
  margin-top: 40px;
  font-family: "Noto Sans TC";
  line-height: 32px;
  letter-spacing: 1px;
  color: #ffffff;
  font-size: 16px;
  margin-top: -5px;
}
.footer-text div {
  display: inline-block;
}
.text-right {
  text-align: right;
  display: block;
  float: right;
  font-family: "Noto Sans TC";
  line-height: 32px;
  letter-spacing: 1px;
  color: #ffffff;
  font-size: 16px;
}
.but {
  display: none;
}

@media (max-width: 991px) {
  .repro-bl > img {
    display: none;
  }
  .repro-bl > div > img {
    margin-bottom: 100px;
  }
  .sidebar {
    display: none;
    position: relative;
  }
  .mo-leftpic {
    display: block;
  }
  .content {
    position: relative;
    width: 100%;
    margin-left: 0;
    top: initial;
    margin-top: -6px;
  }
  .mob-red-button-wrapper {
    display: block;
  }
  .mo-wrapper {
    display: block;
    font-size: 16px;
  }
  .mo-wrapper > ul > li:hover .mo-submenu {
    display: block;
  }
  .body {
    background-color: #191e20;
  }
  .mo-carousel-indicators {
    display: block;
  }
  .but {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #b5253e;
  }
  .but a {
    width: 100%;
  }
  .button {
    background-color: #b5253e;
    border: none;
    padding: 20px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    color: #ffffff;
    margin-top: -3px;
    display: inline-block;
    width: 100%;
  }
  .button:hover {
    background-color: #911e32;
    transition-duration: 1000ms;
  }
  .p-name {
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    font-family: "Noto Serif TC";
    letter-spacing: 2px;
    font-weight: 700;
    margin-top: 100px;
  }
  .p-money {
    color: #fff3d4;
    text-align: center;
    font-family: "Noto Serif TC";
    font-size: 18px;
    margin-top: 30px;
    font-weight: 600;
  }

  #carouselExampleIndicators {
    margin-top: 150px;
  }

  .intro {
    border-top: solid #ffffff 2px;
    margin: 100px 5.5vw;
  }

  .intro h1 {
    margin-top: 70px;
    color: #ffffff;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 2px;
    font-family: "Noto Serif TC";
  }

  .intro p {
    font-family: "Noto Sans TC";
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 2px;
    color: #ffffff;
    margin-top: 30px;
  }
  .row1 h1,
  .row2 h1,
  .row3 h1,
  .row4 h1,
  .row5 h1,
  .row6 h1 {
    font-size: 16px;
    line-height: 20px;
    font-family: "Noto Serif TC";
    letter-spacing: 2px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 30px;
    text-align: left;
  }

  .sq1 p,
  .sq2 p,
  .sq3 p,
  .sq4 p,
  .sq5 p,
  .sq6 p,
  .sq7 p,
  .sq8 p,
  .sq9 p,
  .sq10 p,
  .sq11 p,
  .sq12 p {
    width: 256px;
    color: #ffffff;
    text-align: left;
    font-family: "Noto Sans TC";
    font-weight: 400;
    font-size: 14px;
    line-height: 35px;
    letter-spacing: 2px;
  }
  .row1,
  .row2,
  .row3,
  .row4,
  .row5,
  .row6 {
    margin-top: 50px;
    vertical-align: top;
    display: flex;
    margin-left: 8.5vw;
    justify-content: center;
  }
  .mo-submenu {
    position: absolute;
    font-family: "Noto Serif TC";
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    letter-spacing: 8px;
    background-color: #191e20;
    width: 100%;
    text-align: center;
    padding: 0px 0px;
    margin-top: -5px;
  }
  .mo-submenu > li {
    padding: 9px 0;
  }
  .mo-wrapper > ul > li:hover ~ .mo-submenu {
    display: block !important ;
  }
  .mo-wrapper:hover ~ .content {
    margin-top: 100px;
  }
  /*footer*/
  .footer-bg {
    height: 45vw;
  }
  .footer {
    display: inline-block;
    width: 69vw;
    margin: 12vw 15.5vw 0;
    margin-top: 190px;
  }
  #footer-icon {
    width: 20%;
    margin-right: 1vw;
  }
  .footer div {
    display: inline-block;
    position: relative;
  }
  .footer-title {
    width: 50vw;
    float: right;
    position: absolute;
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 35px;
  }
  .footer-title .mid-ch-title {
    margin: 0vw 0;
  }

  #footer-title-buttom {
    display: inline-block;
    width: 100%;
  }
  #footer-title-buttom div,
  #footer-title-buttom p {
    display: inline-block;
  }
  .footer-icons {
    display: block;
    float: right;
    margin-top: 5px;
  }
  .footer-icons img {
    margin: 0 10px;
  }

  .footer-text {
    display: inline-block;
    width: 100%;
    margin-top: 40px;
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
  }
  .footer-text div {
    display: inline-block;
    margin-top: -30px;
  }
  .text-right {
    text-align: right;
    display: block;
    float: right;
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
  }
}
@media (max-width: 663px) {
  .sidebar {
    display: none;
    position: relative;
  }
  .mo-leftpic {
    display: block;
  }
  .content {
    position: relative;
    width: 100%;
    margin-left: 0;
    top: initial;
    margin-top: 1px;
  }
  .mob-red-button-wrapper {
    display: block;
  }
  .mo-wrapper {
    display: block;
  }
  .mo-wrapper > ul > li:hover .mo-submenu {
    display: block;
  }
  .body {
    background-color: #191e20;
  }
  .mo-carousel-indicators {
    display: block;
  }

  .button {
    font-size: 10px;
    padding: 10px 0%;
  }
  .p-name {
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    font-family: "Noto Serif TC";
    letter-spacing: 2px;
    font-weight: 700;
    margin-top: 100px;
  }
  .p-money {
    color: #fff3d4;
    text-align: center;
    font-family: "Noto Serif TC";
    font-size: 10px;
    margin-top: 30px;
    font-weight: 600;
  }
  .mo-wrapper > ul > li:hover .mo-submenu {
    display: block !important ;
  }
  .mo-submenu {
    position: absolute;
    font-family: "Noto Serif TC";
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: 5px;
    background-color: #191e20;
    width: 100%;
    height: 110px;
    text-align: center;
    padding: 5px 0px;
    margin-top: -10px;
  }
  .mo-submenu > li {
    padding: 8px 0;
  }
  #carouselExampleIndicators {
    margin-top: 150px;
  }

  .intro {
    border-top: solid #ffffff 2px;
    margin: 100px 5.5vw;
  }

  .intro h1 {
    margin-top: 70px;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 2px;
    font-family: "Noto Serif TC";
  }

  .intro p {
    font-family: "Noto Sans TC";
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #ffffff;
    margin-top: 30px;
  }
  .row1 h1,
  .row2 h1,
  .row3 h1,
  .row4 h1,
  .row5 h1,
  .row6 h1 {
    font-size: 16px;
    line-height: 20px;
    font-family: "Noto Serif TC";
    letter-spacing: 2px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 30px;
    text-align: left;
  }

  .sq1 p,
  .sq2 p,
  .sq3 p,
  .sq4 p,
  .sq5 p,
  .sq6 p,
  .sq7 p,
  .sq8 p,
  .sq9 p,
  .sq10 p,
  .sq11 p,
  .sq12 p {
    width: 256px;
    color: #ffffff;
    text-align: left;
    font-family: "Noto Sans TC";
    font-weight: 400;
    font-size: 10px;
    line-height: 30px;
    letter-spacing: 2px;
  }
  .sq1,
  .sq2,
  .sq3,
  .sq4,
  .sq5,
  .sq6,
  .sq7,
  .sq8,
  .sq9,
  .sq10,
  .sq11,
  .sq12 {
    margin-top: 40px;
  }
  .row1,
  .row2,
  .row3,
  .row4,
  .row5,
  .row6 {
    display: flex;
    margin-left: 20vw;
    justify-content: center;
    display: block;
    margin-top: -5px;
  }
}
@media (min-width: 1600px) {
  .red-button-wrapper {
    font-size: 28px;
  }
  .p-name {
    font-size: 43px;
  }
  .p-money {
    font-size: 37px;
  }

  .intro p {
    font-size: 20px;
  }
  .sq1 p,
  .sq2 p,
  .sq3 p,
  .sq4 p,
  .sq5 p,
  .sq6 p,
  .sq7 p,
  .sq8 p,
  .sq9 p {
    font-size: 18px;
    line-height: 37px;
  }
}
/*footer rwd*/
@media (max-width: 991px) {
  .footer-bg {
    height: 45%;
  }
  .footer {
    margin: 4vw 14vw 2vw;
  }
}
@media (max-width: 681px) {
  .footer {
    margin: 50px 5vw;
    width: 90vw;
  }
  .footer-title {
    width: 73.5vw;
  }
  .footer-text .text {
    font-size: 12px;
  }
  .footer-text .text {
    font-size: 8px;
  }
  #footer-icon {
    width: 15%;
  }
}
@media (max-width: 576px) {
  .footer-text .text {
    font-size: 8px;
  }
  .mid-ch-title {
    font-size: 14px;
    line-height: 20px;
  }
  .footer-icons {
    display: none !important;
  }
  #footer-icon {
    width: 15%;
  }
}
